In [40]:
import pandas as pd

data = pd.read_csv("2017_jun_final.csv")

Вивести перші рядки таблиці за допомогою методу head:

In [41]:
print(data.head())

   N                 Должность Язык.программирования Специализация  \
0  1        Junior QA engineer                   NaN     Manual QA
1  2        Junior QA engineer                   NaN     Manual QA
2  3         Software Engineer               C#/.NET           NaN
3  4         Software Engineer            JavaScript           NaN
4  5  Senior Software Engineer            JavaScript           NaN

  Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0               0.5                          0.5               400
1  меньше 3 месяцев             меньше 3 месяцев               430
2                 4                            1              2500
3                 5                            4              2000
4    10 и более лет                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                 0  Харьков       до 10 человек  ...
1                               130  Харьков  свыше 1000 человек  ...
2                               800     Киев     до 1000 человек  ...
3                               400   Одесса      до 200 человек  ...
4                               500   Другой       до 10 человек  ...

  Еще.студент Уровень.английского                    Предметная.область  \
0        True       ниже среднего                         iOS,eCommerce
1        True       выше среднего                        Веб-разработка
2       False             средний  Веб-разработка,Корпоративные системы
3       False       ниже среднего   Desktop Applications,Веб-разработка
4       False             средний   Desktop Applications,Веб-разработка

       Дата.заполнения                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

Визначити розмір таблиці за допомогою методу shape:

In [42]:
print("Розмір таблиці:", data.shape)

Розмір таблиці: (8704, 25)

Визначити типи всіх стовпців за допомогою data.dtypes:

In [43]:
print("Типи стовпців:")
print(data.dtypes)

Типи стовпців:
N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

Порахувати, яка частка пропусків міститься в кожній колонці:

In [44]:
missing_data_percentage = (data.isnull().sum() / data.shape[0]) * 100
print("Частка пропусків у кожній колонці:")
print(missing_data_percentage)

Частка пропусків у кожній колонці:
N                                    0.000000
Должность                            0.000000
Язык.программирования               44.232537
Специализация                       82.938879
Общий.опыт.работы                    0.000000
Опыт.работы.на.текущем.месте         0.000000
Зарплата.в.месяц                     0.000000
Изменение.зарплаты.за.12.месяцев     0.000000
Город                                0.000000
Размер.компании                      0.000000
Тип.компании                         0.000000
Пол                                  0.000000
Возраст                              0.000000
Образование                          0.000000
Университет                          4.113051
Еще.студент                          0.000000
Уровень.английского                  0.000000
Предметная.область                   2.562040
Дата.заполнения                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

Видалити усі стовпці з пропусками, крім стовпця "Мова програмування":

In [45]:
data = data.dropna(subset=['Язык.программирования'])
print(data)

         N                 Должность Язык.программирования Специализация  \
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
6        7  Junior Software Engineer               C#/.NET           NaN
7        8  Senior Software Engineer                   C++           NaN
...    ...                       ...                   ...           ...
8692  8693         Software Engineer                  Java           NaN
8694  8695  Junior Software Engineer               C#/.NET           NaN
8695  8696         Software Engineer                Python           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
6                    1             меньше 3 месяцев               600
7                    6                            1              3300
...                ...                          ...               ...
8692                 5                            1              3500
8694                 1                            1               550
8695                 1                          0.5              1500
8701                 1                          0.5               800
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев        Город  Размер.компании  ...  \
2                                  800         Киев  до 1000 человек  ...
3                                  400       Одесса   до 200 человек  ...
4                                  500       Другой    до 10 человек  ...
6                                  100  Хмельницкий    до 50 человек  ...
7                                  500         Киев    до 10 человек  ...
...                                ...          ...              ...  ...
8692                               650     Удаленно   до 200 человек  ...
8694                               550      Харьков   до 200 человек  ...
8695                              1000         Киев    до 10 человек  ...
8701                               500        Львов    до 10 человек  ...
8703                               800       Одесса  до 1000 человек  ...

     Еще.студент Уровень.английского  \
2          False             средний
3          False       ниже среднего
4          False             средний
6          False       ниже среднего
7          False       выше среднего
...          ...                 ...
8692       False             средний
8694       False       ниже среднего
8695       False             средний
8701       False       выше среднего
8703       False       выше среднего

                                   Предметная.область      Дата.заполнения  \
2                Веб-разработка,Корпоративные системы  12/06/2017 13:02:47
3                 Desktop Applications,Веб-разработка  12/06/2017 13:03:01
4                 Desktop Applications,Веб-разработка  12/06/2017 13:03:47
6                                      Веб-разработка  12/06/2017 13:04:26
7                                              Другое  12/06/2017 13:04:27
...                                               ...                  ...
8692                                        eCommerce  12/07/2017 13:26:49
8694  Desktop Applications,Системное программирование  12/07/2017 14:14:33
8695                        Финансы и банки,eCommerce  12/07/2017 14:39:21
8701             Веб-разработка,Корпоративные системы  12/07/2017 17:32:26
8703                                   Веб-разработка  12/07/2017 21:28:57

                                             User.Agent   exp current_job_exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0             0.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0             1.0
...                                                 ...   ...             ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0             1.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0             1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary Валюта  cls
2      2500    NaN  DEV
3      2000    NaN  DEV
4      4500    NaN  DEV
6       600    NaN  DEV
7      3300    NaN  DEV
...     ...    ...  ...
8692   3500    NaN  DEV
8694    550    NaN  DEV
8695   1500    NaN  DEV
8701    800    NaN  DEV
8703   5000    NaN  DEV

[4854 rows x 25 columns]

Знову порахувати, яка частка пропусків міститься в кожній колонці:

In [46]:
missing_data_percentage = (data.isnull().sum() / data.shape[0]) * 100
print("Частка пропусків у кожній колонці після видалення стовпців з пропусками:")
print(missing_data_percentage)

Частка пропусків у кожній колонці після видалення стовпців з пропусками:
N                                    0.000000
Должность                            0.000000
Язык.программирования                0.000000
Специализация                       99.979398
Общий.опыт.работы                    0.000000
Опыт.работы.на.текущем.месте         0.000000
Зарплата.в.месяц                     0.000000
Изменение.зарплаты.за.12.месяцев     0.000000
Город                                0.000000
Размер.компании                      0.000000
Тип.компании                         0.000000
Пол                                  0.000000
Возраст                              0.000000
Образование                          0.000000
Университет                          4.758962
Еще.студент                          0.000000
Уровень.английского                  0.000000
Предметная.область                   0.618047
Дата.заполнения                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.835187
cls                                  0.164813
dtype: float64

Видалити усі рядки у вихідній таблиці за допомогою методу dropna:

In [47]:
data.dropna()

Empty DataFrame
Columns: [N, Должность, Язык.программирования, Специализация, Общий.опыт.работы, Опыт.работы.на.текущем.месте, Зарплата.в.месяц, Изменение.зарплаты.за.12.месяцев, Город, Размер.компании, Тип.компании, Пол, Возраст, Образование, Университет, Еще.студент, Уровень.английского, Предметная.область, Дата.заполнения, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

Визначити новий розмір таблиці за допомогою методу shape:

In [48]:
print("Розмір таблиці після видалення рядків з пропусками:", data.shape)
print(data)

Розмір таблиці після видалення рядків з пропусками: (4854, 25)
         N                 Должность Язык.программирования Специализация  \
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
6        7  Junior Software Engineer               C#/.NET           NaN
7        8  Senior Software Engineer                   C++           NaN
...    ...                       ...                   ...           ...
8692  8693         Software Engineer                  Java           NaN
8694  8695  Junior Software Engineer               C#/.NET           NaN
8695  8696         Software Engineer                Python           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
6                    1             меньше 3 месяцев               600
7                    6                            1              3300
...                ...                          ...               ...
8692                 5                            1              3500
8694                 1                            1               550
8695                 1                          0.5              1500
8701                 1                          0.5               800
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев        Город  Размер.компании  ...  \
2                                  800         Киев  до 1000 человек  ...
3                                  400       Одесса   до 200 человек  ...
4                                  500       Другой    до 10 человек  ...
6                                  100  Хмельницкий    до 50 человек  ...
7                                  500         Киев    до 10 человек  ...
...                                ...          ...              ...  ...
8692                               650     Удаленно   до 200 человек  ...
8694                               550      Харьков   до 200 человек  ...
8695                              1000         Киев    до 10 человек  ...
8701                               500        Львов    до 10 человек  ...
8703                               800       Одесса  до 1000 человек  ...

     Еще.студент Уровень.английского  \
2          False             средний
3          False       ниже среднего
4          False             средний
6          False       ниже среднего
7          False       выше среднего
...          ...                 ...
8692       False             средний
8694       False       ниже среднего
8695       False             средний
8701       False       выше среднего
8703       False       выше среднего

                                   Предметная.область      Дата.заполнения  \
2                Веб-разработка,Корпоративные системы  12/06/2017 13:02:47
3                 Desktop Applications,Веб-разработка  12/06/2017 13:03:01
4                 Desktop Applications,Веб-разработка  12/06/2017 13:03:47
6                                      Веб-разработка  12/06/2017 13:04:26
7                                              Другое  12/06/2017 13:04:27
...                                               ...                  ...
8692                                        eCommerce  12/07/2017 13:26:49
8694  Desktop Applications,Системное программирование  12/07/2017 14:14:33
8695                        Финансы и банки,eCommerce  12/07/2017 14:39:21
8701             Веб-разработка,Корпоративные системы  12/07/2017 17:32:26
8703                                   Веб-разработка  12/07/2017 21:28:57

                                             User.Agent   exp current_job_exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0             0.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0             1.0
...                                                 ...   ...             ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0             1.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0             1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary Валюта  cls
2      2500    NaN  DEV
3      2000    NaN  DEV
4      4500    NaN  DEV
6       600    NaN  DEV
7      3300    NaN  DEV
...     ...    ...  ...
8692   3500    NaN  DEV
8694    550    NaN  DEV
8695   1500    NaN  DEV
8701    800    NaN  DEV
8703   5000    NaN  DEV

[4854 rows x 25 columns]

Створити нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python:

In [49]:
python_data = data[data['Язык.программирования'] == 'Python']

Визначити розмір таблиці python_data:

In [50]:
print("Розмір таблиці python_data:", python_data.shape)

Розмір таблиці python_data: (207, 25)

Використовуючи метод groupby, виконати групування за стовпчиком "Посада":

In [51]:
grouped_data = data.groupby('Должность')

Створити новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконати агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць":

In [52]:
aggregated_data = grouped_data['Зарплата.в.месяц'].agg(['min', 'max'])

Створити функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg":

In [54]:
def fill_avg_salary(salary_column):
    return salary_column.mean()

data['avg'] = data['Зарплата.в.месяц'].mean()

Створити описову статистику за допомогою методу describe для нового стовпчика "avg"

In [55]:
print(data['avg'].describe())

count    4854.000000
mean     1883.371034
std         0.000000
min      1883.371034
25%      1883.371034
50%      1883.371034
75%      1883.371034
max      1883.371034
Name: avg, dtype: float64

Зберегти отриману таблицю в CSV файл:

In [56]:
data.to_csv("processeded_data.csv", index=False)